body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: #333333;
  }
  
  .upload-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .upload-label {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .upload-label:hover {
    background-color: #0056b3;
  }
  
  #imageInput {
    display: none;
  }
  
  .generate-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .generate-button:hover {
    background-color: #218838;
  }
  
  .qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .qr-code svg {
    max-width: 100%;
    height: auto;
  }
  footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
    